@namespace EasyCsv.Components
<style>
    .mud-input-control-input-container:has(.mud-input-outlined) {
        margin-top: 0px !important;
    }
    .extra-dense {
        padding: 2px 10px !important;
    }
    .text-field-margin-fix .mud-input-slot {
	    padding-top: 16px !important;
    }
    .csv-table-header-matcher .mud-table-container {
        max-height: 60vh;
    }
    .csv-headers-th {
        width: 215px;
    }

    .default-value-th {
        width: 225px;
    }

    .preview-information-container {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* Number of lines before truncation */
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
</style>

@if (ExpectedHeaders != null)
{
    string? tableStyle = null;
    if (TableStyleFunc != null)
    {
        tableStyle = TableStyleFunc(AllHeadersValid);
    }

    int rowsPerPage = UsePagination ? RowsPerPage : 1000;
    <MudTable T="ExpectedHeader" Class="csv-table-header-matcher" Style="@tableStyle" FixedHeader="true" RowsPerPage="rowsPerPage" Items="ExpectedHeaders"
              Striped="true" Bordered Dense Hover Elevation="2" PagerContent="@PagerContent()" >
         <HeaderContent>
             <MudTh Class="matched-th" >@ThConfig.Matched</MudTh>
             <MudTh Class="expected-header-th" >@ThConfig.ExpectedHeaders</MudTh>
             @if (!HidePreviewInformationColumn)
             {
                 <MudTh Class="preview-information-th">@ThConfig.PreviewInformation</MudTh>
             }
             @if (!HideDefaultValueColumn)
             {
                 <MudTh Class="default-value-th" >@ThConfig.DefaultValue</MudTh>
             }
             <MudTh Class="csv-headers-th" >@ThConfig.CsvHeaders</MudTh>
         </HeaderContent>
         <RowTemplate Context="expectedHeader">
             @{
                 var originalHeader = _mappedDict.FirstOrDefault(x => x.Value == expectedHeader).Key;
                 var expectedHeaderAlreadyMapped = ExpectedHeaderMatched(expectedHeader);
                 CsvRow? firstNotEmptyRow = null;
                 string? currentHeaderName = null;
                 if (expectedHeaderAlreadyMapped)
                 {
                     currentHeaderName = _originalHeaderCurrentHeaderDict[originalHeader];
                     firstNotEmptyRow = Csv?.CsvContent?.FirstOrDefault(x => x.TryGetValue(currentHeaderName, out var value) && value != null);
                 }
            }
            <MudTd DataLabel="@(ThConfig.Matched + ":")" Class="extra-dense matched-td">
                @{
                    MatchState matchState = MatchState.Missing;
                    if (expectedHeaderAlreadyMapped)
                    {
                        matchState = MatchState.Mapped;
                    }
                    else if (expectedHeader.HasValue)
                    {
                        matchState = MatchState.ValueProvided;
                    }
                    else if (expectedHeader.Config.IsRequired)
                    {
                        matchState = MatchState.RequiredAndMissing;
                    }
                    @DisplayMatchState(matchState)
                 }
             </MudTd>
             <MudTd DataLabel="@(ThConfig.ExpectedHeaders + ":")" Class="extra-dense expected-header-td" >
                 <div class="align-items-center" style="display: flex; flex-direction: row;">
                     @if (expectedHeader.DisplayName == expectedHeader.CSharpPropertyName)
                     {
                         @expectedHeader.CSharpPropertyName.SplitOnCapitalLetters()
                     }
                     else
                     {
                         @expectedHeader.DisplayName
                     }
                 </div>
             </MudTd>
             @if (!HidePreviewInformationColumn)
             {
                 <MudTd DataLabel="@(ThConfig.PreviewInformation + ":")" Class="extra-dense preview-information-td">
                     <div class="preview-information-container" >
                         @if (firstNotEmptyRow != null)
                         {
                             @firstNotEmptyRow[currentHeaderName!]?.ToString()
                         }
                         else if (expectedHeader.HasValue)
                         {
                             @expectedHeader.Value
                         }
                     </div>
                 </MudTd>
             }
             @if (!HideDefaultValueColumn)
             {
                <MudTd DataLabel="@(ThConfig.DefaultValue + ":")" Class="extra-dense default-value-td">
                @if (expectedHeader.Config.DefaultValueType != DefaultValueType.None || expectedHeader.Config.DefaultValueRenderFragment != null)
                 {
                     if (expectedHeaderAlreadyMapped)
                     {
                         <MudTextField T="string" Disabled="true" Text="ALREADY MAPPED" ></MudTextField>
                     }
                     else
                     {
                         if (expectedHeader.Config.DefaultValueRenderFragment != null)
                         {
                            @expectedHeader.Config.DefaultValueRenderFragment(new(Frozen, x => HeaderDefaultValueChanged(expectedHeader, x)))
                         }
                         else 
                         {
                             switch (expectedHeader.Config.DefaultValueType)
                             {
                                 case DefaultValueType.None:
                                     throw new ArgumentOutOfRangeException();
                                 case DefaultValueType.Text:
                                     var strVal = expectedHeader.Value as string;
                                        <MudTextField T="string" Disabled="Frozen" Class="text-field-margin-fix" Variant="Variant.Filled" Placeholder="Enter default value..." Value="strVal" ValueChanged="newVal => HeaderDefaultValueChanged(expectedHeader, newVal)"
                                                   Clearable OnClearButtonClick="() => HeaderDefaultValueChanged(expectedHeader, null)"></MudTextField>
                                     break;
                                 case DefaultValueType.DateTime:
                                    DateTime? date = expectedHeader.Value is DateTime dateTime
                                        ? dateTime 
                                             : expectedHeader.Value is string str
                                                ? DateTime.TryParse(str, CultureInfo.CurrentCulture, DateTimeStyles.AllowWhiteSpaces | DateTimeStyles.AllowInnerWhite | DateTimeStyles.AllowLeadingWhite | DateTimeStyles.AllowTrailingWhite, out var parsedDate)
                                                    ? parsedDate
                                                    : null // failed parse
                                                : null; // not date time or string

                                     <MudDatePicker Disabled="Frozen" Class="text-field-margin-fix" Variant="Variant.Filled" Placeholder="Enter default value..." Date="date" DateChanged="date => HeaderDefaultValueChanged(expectedHeader, date)"Clearable></MudDatePicker>
                                     break;
                                 case DefaultValueType.Numerical:
                                     int? num = expectedHeader.Value is int number
                                        ? number
                                         : expectedHeader.Value is string intStr
                                            ? int.TryParse(intStr, NumberStyles.Any, CultureInfo.CurrentCulture, out var parsedNum)
                                                ?  parsedNum
                                                :  null
                                            : null;
                                     <MudNumericField T="int?" Disabled="Frozen" Class="text-field-margin-fix" Variant="Variant.Filled" Placeholder="Enter default value..." Value="num" ValueChanged="num => HeaderDefaultValueChanged(expectedHeader, num)"Clearable ></MudNumericField>
                                     break;
                                 case DefaultValueType.CheckBox:
                                     bool value = expectedHeader.Value is true || expectedHeader.Value is string boolStr && bool.TryParse(boolStr, out var parsedBool) && parsedBool;
                                     <MudCheckBox T="bool" Disabled="Frozen" Class="text-field-margin-fix" Value="value" ValueChanged="val => HeaderDefaultValueChanged(expectedHeader, val)"></MudCheckBox>
                                     break;
                                 case DefaultValueType.TriStateCheckBox:
                                     bool? nullableBoolVal = expectedHeader.Value is bool boolVal
                                         ? boolVal
                                         : expectedHeader.Value is string nullableBoolStr && bool.TryParse(nullableBoolStr, out var parsedNullableBool)
                                                ? parsedNullableBool
                                                : null;
                                     <MudCheckBox T="bool?" TriState="true" Disabled="Frozen" Class="text-field-margin-fix" Value="nullableBoolVal" ValueChanged="val => HeaderDefaultValueChanged(expectedHeader, val)"></MudCheckBox>
                                     break;
                                 default:
                                    throw new ArgumentOutOfRangeException();
                             }
                         }
                     }
                 }
             </MudTd>
             }
            <MudTd DataLabel="@(ThConfig.CsvHeaders + ":")" Class="extra-dense csv-headers-td">
                <MudAutocomplete T="string" Disabled="Frozen" Class="text-field-margin-fix" Value="originalHeader" ValueChanged="x => ReplaceColumn(x, expectedHeader)" Variant="Variant.Filled"
                                 Placeholder="Select a csv header"
                                 SelectValueOnTab="true"
                                 ToStringFunc="x => x.Pascalize()"
                                 SearchFunc="x => SearchFileHeaders(expectedHeader, x)"
                                 Clearable OnClearButtonClick="() => ResetColumn(originalHeader)">
                    <ItemTemplate>
                        @context.Pascalize()
                    </ItemTemplate>
                </MudAutocomplete>
            </MudTd>
        </RowTemplate>
    </MudTable>

}
@code {

    private RenderFragment? PagerContent()
    {
        if (UsePagination)
        {
            return @<MudTablePager Class="header-matcher-pager" ></MudTablePager>;
        }
        return null;
    }

    private bool ExpectedHeaderMatched(ExpectedHeader header)
    {
        return _mappedDict.Any(x => x.Value == header);
    }

    private bool OriginalHeaderMatched(string originalHeader)
    {
        return _mappedDict.TryGetValue(originalHeader, out var value) && value != null;
    }

    private Task<IEnumerable<string>> SearchFileHeaders(ExpectedHeader expectedHeader, string str)
    {
        if (ExpectedHeaderMatched(expectedHeader))
        {
            return Task.FromResult(Enumerable.Empty<string>());
        }

        if (string.IsNullOrWhiteSpace(str))
        {
            // If not input order most similar to expected header
            return Task.FromResult(OriginalHeaders.Where(x => !OriginalHeaderMatched(x))
                .OrderByDescending(x => PartialRatio(expectedHeader.CSharpPropertyName, x)).AsEnumerable());
        }
        return Task.FromResult(OriginalHeaders.Where(x => !OriginalHeaderMatched(x) && x.Contains(str, StringComparison.InvariantCultureIgnoreCase)));
    }

    private void HeaderDefaultValueChanged(ExpectedHeader header, object? value)
    {
        header.Value = value;
        AllHeadersValid = ValidateRequiredHeaders();
    }

    private static RenderFragment _DisplayMatchState(MatchState matchState)
    {
        switch (matchState)
        {
            case MatchState.Mapped or MatchState.ValueProvided:
                return @<text>
                            <div class="gap-2" style="display: flex; flex-direction: row;" >
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success"></MudIcon>
                                @if (matchState == MatchState.Mapped)
                                {
                                    <span style="color: var(--mud-palette-success); margin-left: 4px; font-size: x-small; align-self: end;">*Mapped</span>
                                }
                                else
                                {
                                    <span style="color: var(--mud-palette-success); margin-left: 4px; font-size: x-small; align-self: end;">*Value provided</span>
                                }
                            </div>
                        </text>;
            case MatchState.RequiredAndMissing:
                return @<text>
                            <div class="gap-2" style="display: flex; flex-direction: row;">
                                <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Error"></MudIcon>
                                <span style="color: red; margin-left: 4px; font-size: x-small; align-self: end;">*Required</span>
                            </div>
                        </text>;
            case MatchState.Missing:
                return @<MudIcon Icon="@Icons.Material.Filled.RemoveCircle" Color="Color.Default"></MudIcon>;
            default:
                throw new ArgumentOutOfRangeException(nameof(matchState), matchState, null);
        }
    }
}
