@namespace EasyCsv.Components
<style>
    .mud-input-control-input-container:has(.mud-input-outlined) {
        margin-top: 0px !important;
    }
    .extra-dense {
        padding: 2px 10px !important;
    }
    .text-field-margin-fix .mud-input-slot {
	    padding-top: 16px !important;
    }
    .csv-table-header-matcher .mud-table-container {
        max-height: 60vh;
    }

</style>

@if (ExpectedHeaders != null)
{
    string? tableStyle = null;
    if (TableStyleFunc != null)
    {
        tableStyle = TableStyleFunc(AllHeadersValid);
    }
    <MudTable T="ExpectedHeader" Class="csv-table-header-matcher" Style="@tableStyle" FixedHeader="true" RowsPerPage="100" Items="ExpectedHeaders" 
              Striped="true" Bordered Dense Hover Elevation="2">
         <HeaderContent>
             <MudTh>Matched</MudTh>
             <MudTh>@ExpectedHeaderThStr</MudTh>
             <MudTh>Preview Information</MudTh>
             @if (!HideDefaultValueColumn)
             {
                 <MudTh>Default Value</MudTh>
             }
             <MudTh>Csv Headers</MudTh>
         </HeaderContent>
         <RowTemplate Context="expectedHeader">
             @{
                 var originalHeader = _mappedDict.FirstOrDefault(x => x.Value == expectedHeader).Key;
                 var expectedHeaderAlreadyMapped = ExpectedHeaderMatched(expectedHeader);
                 CsvRow? firstNotEmptyRow = null;
                 string? currentHeaderName = null;
                 if (expectedHeaderAlreadyMapped)
                 {
                     currentHeaderName = _originalHeaderCurrentHeaderDict[originalHeader];
                     firstNotEmptyRow = Csv?.CsvContent?.FirstOrDefault(x => x.TryGetValue(currentHeaderName, out var value) && value != null);
                 }
            }
             <MudTd DataLabel="Matched:" Class="extra-dense" >
                @{
                    MatchState matchState = MatchState.Missing;
                    if (expectedHeaderAlreadyMapped)
                    {
                        matchState = MatchState.Mapped;
                    }
                    else if (expectedHeader.HasValue)
                    {
                        matchState = MatchState.ValueProvided;
                    }
                    else if (expectedHeader.Config.IsRequired)
                    {
                        matchState = MatchState.RequiredAndMissing;
                    }
                    @DisplayMatchState(matchState)
                 }
             </MudTd>
             <MudTd DataLabel="Expected Header:" Class="extra-dense" >
                 <div class="align-items-center" style="display: flex; flex-direction: row;">
                     @if (expectedHeader.DisplayName == expectedHeader.CSharpPropertyName)
                     {
                         @expectedHeader.CSharpPropertyName.SplitOnCapitalLetters()
                     }
                     else
                     {
                         @expectedHeader.DisplayName
                     }
                 </div>
             </MudTd>
             <MudTd DataLabel="Preview Information:" Class="extra-dense" >
                 @if (firstNotEmptyRow != null)
                 {
                     @firstNotEmptyRow[currentHeaderName!]?.ToString()
                 }
                 else if (expectedHeader.HasValue)
                 {
                     @expectedHeader.Value
                 }
             </MudTd>
             @if (!HideDefaultValueColumn)
             {
                 <MudTd DataLabel="Default Value:" Class="extra-dense" >
                @if (expectedHeader.Config.DefaultValueType != DefaultValueType.None || expectedHeader.Config.DefaultValueRenderFragment != null)
                 {
                     if (expectedHeaderAlreadyMapped)
                     {
                         <MudTextField T="string" Disabled="true" Text="ALREADY MAPPED" ></MudTextField>
                     }
                     else
                     {
                         if (expectedHeader.Config.DefaultValueRenderFragment != null)
                         {
                            @expectedHeader.Config.DefaultValueRenderFragment(new(Frozen, x => HeaderDefaultValueChanged(expectedHeader, x)))
                         }
                         else 
                         {
                             switch (expectedHeader.Config.DefaultValueType)
                             {
                                 case DefaultValueType.None:
                                     throw new ArgumentOutOfRangeException();
                                 case DefaultValueType.Text:
                                     <MudTextField T="string" Disabled="Frozen" Class="text-field-margin-fix" Variant="Variant.Filled" Placeholder="Enter default value..." ValueChanged="str => HeaderDefaultValueChanged(expectedHeader, str)"></MudTextField>
                                     break;
                                 case DefaultValueType.DateTime:
                                     <MudDatePicker Disabled="Frozen" Class="text-field-margin-fix" Variant="Variant.Filled" Placeholder="Enter default value..." DateChanged="date => HeaderDefaultValueChanged(expectedHeader, date)"></MudDatePicker>
                                     break;
                                 case DefaultValueType.Numerical:
                                     <MudNumericField T="int" Disabled="Frozen" Class="text-field-margin-fix" Variant="Variant.Filled" Placeholder="Enter default value..." ValueChanged="num => HeaderDefaultValueChanged(expectedHeader, num)"></MudNumericField>
                                     break;
                                 case DefaultValueType.CheckBox:
                                     <MudCheckBox T="bool" Disabled="Frozen" Class="text-field-margin-fix" ValueChanged="val => HeaderDefaultValueChanged(expectedHeader, val)"></MudCheckBox>
                                     break;
                                 case DefaultValueType.TriStateCheckBox:
                                     <MudCheckBox T="bool?" TriState="true" Disabled="Frozen" Class="text-field-margin-fix" ValueChanged="val => HeaderDefaultValueChanged(expectedHeader, val)"></MudCheckBox>
                                     break;
                                 default:
                                    throw new ArgumentOutOfRangeException();
                             }
                         }
                     }
                 }
             </MudTd>
             }
             <MudTd DataLabel="Csv Headers:" Class="extra-dense">
                <MudAutocomplete T="string" Disabled="Frozen" Class="text-field-margin-fix" Value="originalHeader" ValueChanged="x => ReplaceColumn(x, expectedHeader)" Variant="Variant.Filled"
                                 Placeholder="Select a csv header"
                                 SelectValueOnTab="true"
                                 ToStringFunc="x => x.Pascalize()"
                                 SearchFunc="x => SearchFileHeaders(expectedHeader, x)"
                                 Clearable OnClearButtonClick="() => ResetColumn(originalHeader)">
                    <ItemTemplate>
                        @context.Pascalize()
                    </ItemTemplate>
                </MudAutocomplete>
            </MudTd>
        </RowTemplate>
    </MudTable>

}
@code {
    private bool ExpectedHeaderMatched(ExpectedHeader header)
    {
        return _mappedDict.Any(x => x.Value == header);
    }

    private bool OriginalHeaderMatched(string originalHeader)
    {
        return _mappedDict.TryGetValue(originalHeader, out var value) && value != null;
    }

    private Task<IEnumerable<string>> SearchFileHeaders(ExpectedHeader expectedHeader, string str)
    {
        if (ExpectedHeaderMatched(expectedHeader))
        {
            return Task.FromResult(Enumerable.Empty<string>());
        }

        if (string.IsNullOrWhiteSpace(str))
        {
            // If not input order most similar to expected header
            return Task.FromResult(OriginalHeaders.Where(x => !OriginalHeaderMatched(x))
                .OrderByDescending(x => Fuzz.PartialRatio(expectedHeader.CSharpPropertyName, x)).AsEnumerable());
        }
        return Task.FromResult(OriginalHeaders.Where(x => !OriginalHeaderMatched(x) && x.Contains(str, StringComparison.InvariantCultureIgnoreCase)));
    }

    private void HeaderDefaultValueChanged(ExpectedHeader header, object? value)
    {
        header.Value = value;
        AllHeadersValid = ValidateRequiredHeaders();
    }

    private static RenderFragment _DisplayMatchState(MatchState matchState)
    {
        switch (matchState)
        {
            case MatchState.Mapped or MatchState.ValueProvided:
                return @<text>
                            <div class="gap-2" style="display: flex; flex-direction: row;" >
                                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success"></MudIcon>
                                @if (matchState == MatchState.Mapped)
                                {
                                    <span style="color: var(--mud-palette-success); margin-left: 4px; font-size: x-small; align-self: end;">*Mapped</span>
                                }
                                else
                                {
                                    <span style="color: var(--mud-palette-success); margin-left: 4px; font-size: x-small; align-self: end;">*Value provided</span>
                                }
                            </div>
                        </text>;
            case MatchState.RequiredAndMissing:
                return @<text>
                            <div class="gap-2" style="display: flex; flex-direction: row;">
                                <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Error"></MudIcon>
                                <span style="color: red; margin-left: 4px; font-size: x-small; align-self: end;">*Required</span>
                            </div>
                        </text>;
            case MatchState.Missing:
                return @<MudIcon Icon="@Icons.Material.Filled.RemoveCircle" Color="Color.Default"></MudIcon>;
            default:
                throw new ArgumentOutOfRangeException(nameof(matchState), matchState, null);
        }
    }
}
