<style>
    .dedupe-table-easy-csv .mud-table-container {
        max-height: 500px;
    }
</style>
<MudDialog Style="min-width: 1000px;" @bind-IsVisible="_isVisible" Options="_dialogOptions" >
    <TitleContent>
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;" >
            <MudText Class="mb-2" Typo="Typo.h5"><b>@TitleText</b></MudText>
            <MudChip Color="Color.Primary" Size="Size.Large" Text="Select Rows To Keep" ></MudChip>
        </div>
    </TitleContent>
    <DialogContent>
        @if (DuplicateGroup?.Duplicates.Any() == true)
        {
            foreach (var duplicateGroup in DuplicateGroup?.Duplicates!)
            {
                var dictionaryArray = duplicateGroup.Item2.Select(x => x.Item2).ToArray();
                string fileNameStr = duplicateGroup.Item1 is > 0 && Utils.IsValidIndex(duplicateGroup.Item1.Value, Stepper?.Runner?.ReferenceCsvs?.Count ?? -1)
                ? Stepper!.Runner!.ReferenceCsvs![duplicateGroup.Item1.Value].FileName : "Working Csv";
                <MudText Class="mb-3" Typo="Typo.h5">Duplicates with value: '@DuplicateValue'</MudText>
                @ExampleCsvInternal(dictionaryArray, $"{duplicateGroup.Item2.Length} in {fileNameStr}", duplicateGroup.Item1)
            }
        }
    </DialogContent>
    <DialogActions>
        <MudButton Disabled="_completed" StartIcon="@Icons.Material.Filled.Close" Variant="Variant.Outlined" Color="Color.Default" OnClick="Cancel">Abort Dedupe</MudButton>
        <MudTooltip RootClass="ml-3" Text="All other rows will be deleted">
            @{
                bool disabled = MultiSelect
                    ? _completed || (MustSelectRow && _selectedCsvRows.Count == 0)
                    : _completed || (MustSelectRow && _selectedCsvRow == null);
                string text = MultiSelect
                    ? "Confirm Rows To Keep"
                    : "Select This Row To Keep";
            }
            <MudButton Disabled="@disabled" StartIcon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Info" OnClick="Submit">@text</MudButton>
        </MudTooltip>
    </DialogActions>
</MudDialog>

@code {
    private DuplicateGrouping? _duplicateGroup;
    [Parameter]
    public DuplicateGrouping? DuplicateGroup
    {
        get => _duplicateGroup;
        set
        {
            _duplicateGroup = value;
            if (value != null)
            {
                Reset();
                _completed = false;
            }
        }
    }
    [Parameter] public CsvProcessingStepper Stepper { get; set; } = null!;
    [Parameter] public bool MustSelectRow { get; set; }
    [Parameter] public bool MultiSelect { get; set; }
    [Parameter] public string? TitleText { get; set; }
    [Parameter] public string? DuplicateValue { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }

    [Parameter]
    public bool IsVisible
    {
        get => _isVisible;
        set
        {
            if (_isVisible != value)
            {
                _isVisible = value;
                IsVisibleChanged.InvokeAsync(value);
            }
        }
    }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }

    [Parameter] public EventCallback<MultiDuplicateRootPickerResult> MultiComplete { get; set; }
    [Parameter] public EventCallback<DuplicateRootPickerResult> SingleComplete { get; set; }
    private bool _completed;
    private bool _isVisible;

    private void Reset()
    {
        _selectedCsvRow = null;
        _selectedCsvRowReferenceCsvId = null;
        _selectedCsvRows.Clear();
    }

    private static DialogOptions _dialogOptions = new DialogOptions()
    {
        CloseButton = false,
        CloseOnEscapeKey = false,
        DisableBackdropClick = true
    };

    private async Task Cancel()
    {
        _completed = false;
        Reset();
        _isVisible = false;
        await OnCancel.InvokeAsync();
    }

    private async Task Submit()
    {
        _completed = true;
        await InvokeAsync(StateHasChanged);
        await Task.Delay(5);
        if (MultiSelect)
        {
            await MultiComplete.InvokeAsync(new MultiDuplicateRootPickerResult(_selectedCsvRows.ToHashSet()));
        }
        else
        {
            await SingleComplete.InvokeAsync(new DuplicateRootPickerResult(_selectedCsvRow!, _selectedCsvRowReferenceCsvId));
        }
        Reset();
    }

    private CsvRow? _selectedCsvRow;
    private int? _selectedCsvRowReferenceCsvId;

    private void SelectRowSingle(CsvRow row, int? referenceCsvId)
    {
        if (_selectedCsvRow == null || _selectedCsvRow != row)
        {
            _selectedCsvRow = row;
            _selectedCsvRowReferenceCsvId = referenceCsvId;
        }
        else if (_selectedCsvRow == row)
        {
            _selectedCsvRow = null;
            _selectedCsvRowReferenceCsvId = null;
        }
    }

    private readonly HashSet<(CsvRow, int?)> _selectedCsvRows = new();
    private void SelectRowMultiple(CsvRow row, int? referenceCsvId)
    {
        var record = (row, referenceCsvId);
        if (!_selectedCsvRows.Add(record))
        {
            _selectedCsvRows.Remove(record);
        }
    }

    private RenderFragment? ExampleCsvInternal(CsvRow[] exampleCsv, string text, int? referenceCsvId)
    {
        if (exampleCsv?.Length > 0 != true) return null;
        int tagsColumnIndex = exampleCsv[0].Keys.IndexOf(InternalColumnNames.Tags);
        int referencesColumnIndex = exampleCsv[0].Keys.IndexOf(InternalColumnNames.References);
        var tagColors = new Dictionary<string, Color>();

        void AddTag(string tag)
        {
            if (!tagColors.ContainsKey(tag))
            {
                int colorIndex = tagColors.Count % CsvProcessingTable.DefaultColors.Length;
                Color color = CsvProcessingTable.DefaultColors[colorIndex];
                tagColors.Add(tag, color);
            }
        }

        return @<text>
                    <MudText Class="mb-3" Typo="Typo.h5">@text</MudText>
                    <MudTable Class="dedupe-table-easy-csv" Items="exampleCsv" RowsPerPage="10" FixedHeader="true" Header="500px" Hover Striped Bordered Elevation="3">
                        <HeaderContent>
                            <MudTh>Keep</MudTh>
                            @foreach (var key in exampleCsv[0].Keys.Where(x => x != InternalColumnNames.Tags && x != InternalColumnNames.References))
                            {
                                <MudTh>@key</MudTh>
                            }
                            @if (tagsColumnIndex >= 0)
                            {
                                <MudTh>Tags</MudTh>
                            }
                        </HeaderContent>
                        <RowTemplate Context="row">
                            @{
                                int i = -1;
                            }
                            @if (MultiSelect) 
                            {
                                <MudTd>
                                    <MudCheckBox T="bool" Disabled="_completed" Value="_selectedCsvRows.Contains((row, referenceCsvId))" ValueChanged="x => SelectRowMultiple(row, referenceCsvId)"></MudCheckBox>
                                </MudTd>
                            }
                            else 
                            {
                                <MudTd>
                                    <MudCheckBox T="bool" Disabled="_completed || (_selectedCsvRow != null && _selectedCsvRow != row)" Value="_selectedCsvRow == row" ValueChanged="x => SelectRowSingle(row, referenceCsvId)"></MudCheckBox>
                                </MudTd>
                            }
                            @foreach (var (_, value) in row)
                            {
                                i++;
                                if (i != tagsColumnIndex && i != referencesColumnIndex)
                                {
                                    <MudTd>@value</MudTd>
                                }
                            }
                            @if (tagsColumnIndex >= 0)
                            {
                                var tags = row.ValueAt(tagsColumnIndex)?.ToString()?.Split(",", StringSplitOptions.TrimEntries | StringSplitOptions.RemoveEmptyEntries);
                                <MudTd Class="extra-dense">
                                    @if (tags?.Any() == true)
                                    {
                                        <MudChipSet>
                                            @foreach (var tag in tags)
                                            {
                                                AddTag(tag);
                                                <MudChip Text="@tag" Color="tagColors[tag]" Size="Size.Small"/>
                                            }
                                        </MudChipSet>
                                    }
                                </MudTd>
                            }
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager></MudTablePager>
                        </PagerContent>
                    </MudTable>
                </text>;
    }
}