@namespace EasyCsv.Components
@using EasyCsv.Components.Processing.Dialogs
@using EasyCsv.Components.Processing
<style>
    .csv-processing-download-popup-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
</style>

<ErrorBoundary >
    <ChildContent>
        @if (Runner?.CurrentCsv != null && ProcessingOptions != null)
        {
            <MudText Typo="Typo.h5">Current Step: @(Runner.CurrentIndex + 1)</MudText>
            <br />
            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: baseline;">
                <div style="display: flex; gap: 20px; flex-direction: row;">
                    @if (Runner.IsCacheIndexValid(Runner.CurrentIndex - 1))
                    {
                        <MudButton Disabled="@Busy" OnClick="_ => GoBackStep()" Variant="Variant.Filled" Color="Color.Secondary">Go Back Step</MudButton>
                    }
                    @if (Runner.IsCacheIndexValid(Runner.CurrentIndex + 1))
                    {
                        <MudButton Disabled="@Busy" OnClick="_ => GoForwardStep()" Variant="Variant.Filled" Color="Color.Secondary">Go Forward Step</MudButton>
                    }
                </div>
                @if (ShowAddReferenceCsvs)
                {
                    var columnsNames = Runner.CurrentCsv.ColumnNames();
                    <div style="display: flex; flex-direction: row; justify-content: space-between; gap: 20px; align-items: baseline;">
                        @if (columnsNames != null && (columnsNames.Contains(InternalColumnNames.References) || columnsNames.Contains(InternalColumnNames.Tags)))
                        {
                            string text = TagsAndReferencesLocation == ColumnLocation.Beginning ? "Move tags and references columns to end" : "Move tags and references columns to beginning";
                            <MudTooltip Text="@text" Delay="600">
                                <MudIconButton Disabled="@Busy" Variant="Variant.Filled" Color="Color.Tertiary" Icon="@Icons.Material.Filled.SwapHoriz"
                                               OnClick="() => TagsAndReferencesLocation = TagsAndReferencesLocation == ColumnLocation.End ? ColumnLocation.Beginning : ColumnLocation.End" />
                            </MudTooltip>
                        }
                        <MudTooltip Text="Download Snapshot of Current Csv" Delay="600">
                            <MudIconButton Variant="Variant.Filled" Color="Color.Info" Icon="@Icons.Material.Filled.Download"
                                           Disabled="@Busy" OnClick="_ => OpenDownloadDialog()" />
                        </MudTooltip>
                        <CsvFileInput Disabled="@Busy" InputVariant="@FileInputVariant.Button" ButtonText="Add Reference Csv" OnCsvUpload="x => AddReferenceCsv(x)"></CsvFileInput>
                        @if (ShowAddCsv)
                        {
                            <CsvFileInput Disabled="@Busy" InputVariant="@FileInputVariant.Button" ButtonText="Add Csv" OnCsvUpload="x => BeginAddCsv(x)"></CsvFileInput>
                        }
                    </div>
                }
            </div>
            <br />
            <br />
            <CsvProcessingTable @ref="_csvProcessingTable" Busy="@Busy" ProcessingOptions="ProcessingOptions" Stepper="this" EasyCsv="Runner.CurrentCsv" />
        }
    </ChildContent>
    <ErrorContent>
        @if (ErrorBoundaryContent == null)
        {
            <MudText Typo="Typo.h3" >Something went wrong</MudText>
        }
        else
        {
            @ErrorBoundaryContent
        }
    </ErrorContent>
</ErrorBoundary>
@{
    string[]? columnNames;
}
@if (Runner?.CurrentCsv != null && (columnNames = Runner.CurrentCsv.ColumnNames()) != null)
{
    <MudDialog @bind-IsVisible="_isDownloadDialogVisible" Class="csv-processing-download-popup" Style="min-width: 600px;">
        <TitleContent>
            <MudText Class="mb-2" Typo="Typo.h5"><b>Download Snapshot Options</b></MudText>
        </TitleContent>
        <DialogContent >
            <CascadingValue TValue="CsvProcessingStepper" Value="this" IsFixed="true">
                <div class="csv-processing-download-popup-container">
                    <MudTextField T="string" DebounceInterval="SearchDebounceInterval" Immediate="true" Required="true" Label="File Name"
                                  HelperText="Name given to downloaded file" HelperTextOnFocus Variant="Variant.Outlined" @bind-Value="_fileName"
                                  Clearable OnClearButtonClick="x => _sq = null"/>
                    <MudText Typo="Typo.h6">Column Filter (Required)</MudText>
                    <MultiColumnSelect @bind-ColumnNames="_columnsToDownload" InitializeWithAllColumnNames="@OpenDownloadWithAllColumnsSelected" Label="Columns To Download" SelectAll="true" SelectAllText="Download All Columns"></MultiColumnSelect>
                    <MudText Typo="Typo.h6">Search Filter (Optional)</MudText>
                    <MudTextField T="string" DebounceInterval="SearchDebounceInterval" Immediate="true" Label="Search Query"
                                  HelperText="Value to search for" HelperTextOnFocus Variant="Variant.Outlined" @bind-Value="_sq"
                                  Clearable OnClearButtonClick="x => _sq = null"/>
                    <MultiColumnSelect @bind-ColumnNames="_searchColumns" Label="Columns To Search" SelectAll="true" SelectAllText="Search All Columns"></MultiColumnSelect>
                    @if (columnNames.Contains(InternalColumnNames.Tags))
                    {
                        <MudText Typo="Typo.h6">Tags Filter (Optional)</MudText>
                        <MultiTagSelect @bind-Tags="_includeTags" DisabledTags="_excludeTags" Label="Include Tags"></MultiTagSelect>
                        <MultiTagSelect @bind-Tags="_excludeTags" DisabledTags="_includeTags" Label="Exclude Tags"></MultiTagSelect>
                    }
                </div>
            </CascadingValue>
        </DialogContent>
        <DialogActions>
            <MudButton StartIcon="@Icons.Material.Filled.Close" Variant="Variant.Outlined" Color="Color.Default" OnClick="x => _isDownloadDialogVisible = false">Cancel</MudButton>
            <MudButton Disabled="string.IsNullOrWhiteSpace(_fileName)" StartIcon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Info" OnClick="async _ => await DownloadSnapShot()">Download</MudButton>
        </DialogActions>
    </MudDialog>
    @if (_csvToAdd != null)
    {
        <MudDialog @bind-IsVisible="_isAddDataDialogVisible" Class="csv-processing-add-popup" Style="min-width: 1000px;">
            <TitleContent>
                <MudText Class="mb-2" Typo="Typo.h5"><b>Map Columns To Working Csv</b></MudText>
            </TitleContent>
            <DialogContent>
                <CsvTableHeaderMatcher @ref="_tableHeaderMatcher" ExpectedHeaderThStr="Current Header" FinishedAutoMatching="x => Busy = false" AutoMatch="AutoMatching.Lenient" ExpectedHeaders="_expectedHeaders" Frozen="_busyAddCsv" Csv="_csvToAdd"/>
            </DialogContent>
            <DialogActions>
                <MudButton Disabled="_busyAddCsv" StartIcon="@Icons.Material.Filled.Close" Variant="Variant.Outlined" Color="Color.Default" OnClick="x => _isAddDataDialogVisible = false">Cancel</MudButton>
                <MudButton Disabled="_busyAddCsv" StartIcon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Info" OnClick="AddCsv">Add Data</MudButton>
            </DialogActions>
        </MudDialog>
    }
}
<DuplicateRowsResolver Stepper="this" DuplicateGroup="_duplicateGroup" DuplicateValue="@_duplicateValue" @bind-IsVisible="_duplicateRowsResolveVisible"
                            SingleComplete="SingleComplete"  MultiComplete="MultiComplete" MultiSelect="_multiSelect" 
                            MustSelectRow="_mustSelectRow" OnCancel="OnCancel" TitleText="@_titleText" >

</DuplicateRowsResolver>
@code {
    private TaskCompletionSource<MultiDuplicateRootPickerResult?>? _multiResolveDuplicateRowTaskSource;
    private TaskCompletionSource<DuplicateRootPickerResult?>? _singleResolveDuplicateRowTaskSource;
    private DuplicateGrouping? _duplicateGroup;
    private string? _duplicateValue;
    private bool _multiSelect;
    private bool _mustSelectRow;
    private string? _titleText;
    private bool _duplicateRowsResolveVisible = false;

    private void OnCancel()
    {
        _singleResolveDuplicateRowTaskSource?.SetResult(null);
        _multiResolveDuplicateRowTaskSource?.SetResult(null);
    }

    private void MultiComplete(MultiDuplicateRootPickerResult result)
    {
        _multiResolveDuplicateRowTaskSource!.SetResult(result);
    }

    private void SingleComplete(DuplicateRootPickerResult result)
    {
        _singleResolveDuplicateRowTaskSource!.SetResult(result);
    }


    private CsvTableHeaderMatcher? _tableHeaderMatcher;
    private bool _isAddDataDialogVisible;
    private IEasyCsv? _csvToAdd;
    private string? _csvToAddFileName;
    private ICollection<ExpectedHeader>? _expectedHeaders;

    private bool _isDownloadDialogVisible = false;
    private string[] _columnsToDownload = [];
    private string[] _searchColumns = [];
    private string[] _includeTags = [];
    private string[] _excludeTags = [];
    private string? _sq;
    private string? _fileName;

    private void BeginAddCsv(CsvUploadedArgs args)
    {
        var columnNames = Runner?.CurrentCsv?.ColumnNames();
        if (columnNames?.Length > 0)
        {
            _csvToAdd = args.Csv;
            _csvToAddFileName = args.FileName;
            _isAddDataDialogVisible = true;
            _expectedHeaders = columnNames.Select(x => new ExpectedHeader(x, ExpectedHeaderConfig)).ToArray();
            Busy = true;
            StateHasChanged();
        }
    }

    private List<(string FileName, int IndexAdded)> _addedCsvsWithStepIndexAdded = new();
    private bool _busyAddCsv;
    private async Task AddCsv()
    {
        if (_tableHeaderMatcher == null || Runner == null) return;
        var mappedCsv = await _tableHeaderMatcher.GetMappedCsv(clone: false);
        var mappedColumnsNames = mappedCsv?.ColumnNames();
        if (mappedColumnsNames?.Length is not > 0)
        {
            if (UseSnackBar)
            {
                Snackbar?.Add("Couldn't add csv, something went wrong matching columns");
            }
            return;
        }
        try
        {
            _busyAddCsv = true;
            StateHasChanged();
            await Task.Delay(1);
            var addCsvStrategy = new AddCsvStrategy(mappedCsv!);
            var result = await PerformCsvStrategy(addCsvStrategy);
            if (result.Success && !string.IsNullOrWhiteSpace(_csvToAddFileName))
            {
                var existingEntryIndex = _addedCsvsWithStepIndexAdded.IndexOf(x => x.IndexAdded == Runner.CurrentIndex - 1);
                if (existingEntryIndex >= 0)
                {
                    _addedCsvsWithStepIndexAdded.RemoveAt(existingEntryIndex);
                }
                _addedCsvsWithStepIndexAdded.Add((_csvToAddFileName, Runner.CurrentIndex-1));
            }
        }
        finally
        {
            _busyAddCsv = false;
            _isAddDataDialogVisible = false;
        }
    }

    private void CheckAddedCsvsAfterOperation<T>(T operationResult) where T : IOperationResult
    {
        if (Runner == null || !operationResult.Success) return;
        // Before Operation (Edge Case)
        // AddedCsvs: ("fileName1", 1), ("fileName2", 2)
        // Current Index: 2, Max Index: 5

        // After Operation (Edge Case)
        // AddedCsvs: ("fileName1", 1)
        // Current Index: 3, Max Index: 3
        for (int i = _addedCsvsWithStepIndexAdded.Count-1; i > 0; i--)
        {
            if (_addedCsvsWithStepIndexAdded[i].IndexAdded >= Runner.CurrentIndex - 1)
            {
                _addedCsvsWithStepIndexAdded.RemoveAt(i);
            }
        }
    }

    private void OpenDownloadDialog()
    {
        if (_columnsToDownload.Length > 0)
        {
            _columnsToDownload = [];
        }
        if (_searchColumns.Length > 0)
        {
            _searchColumns = [];
        }
        if (_includeTags.Length > 0)
        {
            _includeTags = [];
        }
        if (_excludeTags.Length > 0)
        {
            _excludeTags = [];
        }

        _fileName = DefaultDownloadFileName;
        _sq = null;
        _isDownloadDialogVisible = true;
    }
}